[submodule "realized_volatility_substream"]
	path = realized_volatility_substream
	url = git@github.com:semiotic-ai/realized_volatility_substream.git
[submodule "VolatilityHook-UniV4"]
	path = VolatilityHook-UniV4
	url = https://github.com/thanhtrinh2003/VolatilityHook-UniV4
[submodule "uniswap-v4-frontend"]
	path = uniswap-v4-frontend
	url = git@github.com:semiotic-ai/uniswap-v4-frontend.git
[submodule "volatility-update-subgraph"]
	path = volatility-update-subgraph
	url = https://github.com/semiotic-ai/volatility-update-subgraph
